
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  padding: 25px;
  background-color: green;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: navy;
  color: white;
}
.title {
	text-align: center;
	color: White;
}
	body {
      cursor: url('blob:chrome-untrusted://media-app/72c5bf0a-3bbe-45b0-8b5d-b558d59a88a7'), auto;
}
</style>
</head>
